<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<% if (errorMessage) { %>
    <div class="text-center">
        <%= errorMessage %>
    </div>
<% } %>
<div class="login-form shadow">
    <form action="/signup" method="POST">
        <img src="/img/logo.png" class="img-fluid">
        <h4>Regisztráljon webáruházunkra!</h4>
        <div class="mb-3 mt-5">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Jelszó">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Jelszó újra">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="specialButton btn-sm" type="submit">Regisztráció</button>
        <div class="pt-3 text-muted">
            Már van fiókja? <a class="text-decoration-none" href="/login">Bejelentkezés</a>
        </div>
    </form>
</div>
<%- include('../includes/end.ejs') %>