<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <div class="container text-center pt-3">
            <h1>Felvett termékek</h1>
            <a href="/admin/add-product"><button type="submit" class="btn btn-primary btn-lg">Új termék</button></a>
            <% if (prods.length > 0) { %>
                    <% for (let product of prods) { %>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Megnevezés</th>
                                    <th scope="col">Ár</th>
                                    <th scope="col">Leírás</th>
                                    <th scope="col">Lehetőségek</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2 class="product__title"><%= product.title %></h2>
                                    </td>
                                    <td>
                                        <h5 class="product__price"><%= product.price %> Ft</h5>
                                    </td>
                                    <td>
                                        <p class="product__description"><%= product.description %></p>
                                    </td>
                                    <td>
                                        <a href="/admin/edit-product/<%= product.id %>?edit=true" class="gomb">Szerkesztés</a>
                                        <form action="/admin/delete-product" method="POST">
                                            <input type="hidden" name="productId" value="<%- product.id %>">
                                            <button class="gomb" type="submit">Törlés</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <% } %>
                </div>
            <% } else { %>
                <h1 class="text-center pt-3">Nincsenek létrehozott termékek!</h1>
            <% } %>
        </div>
    </div>
<%- include('../includes/end.ejs') %>