<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<% if (prods.length > 0) { %>
    <h3 class="py-4 text-center">Termékek (<%= prods.length %>)</h3>
    <div class="container pt-3">
        <div class="row">
            <% for (let product of prods) { %>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="picture">
                                <% if (product.discount == true) { %>
                                    <span class="cheaper">-<%= product.discountRate %>%</span>
                                <% } %>
                                <img class="card-img" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                            </div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <a href="/products/<%= product._id %>" class="details"><h5 class="card-title"><%= product.title %></h5></a>
                            <h4 class="card-text"><%- product.discount == true?(product.price-(product.price*(product.discountRate/100))).toLocaleString('en-US'):product.price.toLocaleString('en-US') %> Ft</h4>
                            <span class="d-inline btn" data-bs-toggle="modal" data-bs-target="#spaceyTermek<%= product._id %>">Adatok</span>
                            <% if (isAuthenticated) { %>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                            <%- include('../includes/modal.ejs', {product: product}) %>
                        </div>
                </div>
            <% } %>
        </div>
    </div>
    <% } else { %>
        <div class="d-flex flex-column align-items-center align-middle pt-5">
            <h3 class="py-4">Nem találhatók termékek!</h3>
            <a href="/"><button class="specialButton btn-sm mx-auto">Vissza a főoldalra</button></a>
            <img class="img-fluid center" src="/img/empty_product_logo.png" alt="Termékek">
        </div>
    <% } %>
<%- include('../includes/end.ejs') %>