<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<% if (errorMessage) { %>
    <div class="text-center">
        <%= errorMessage %>
    </div>
<% } %>
<div class="login-form shadow">
    <form action="/login" method="POST">
        <img src="/img/logo.png" class="img-fluid">
        <h4>Jelentkezzen be webáruházunkba!</h4>
        <div class="mb-3 mt-5">
            <input type="email" class="mezo" name="email" id="email" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="mezo" name="password" id="password" placeholder="Jelszó">
        </div>
        <div class="mb-3 d-flex justify-content-end">
            <a class="text-decoration-none" href="/reset">Elfelejtett jelszó</a>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="specialButton btn-sm" type="submit">Bejelentkezés</button>
        <div class="pt-3 text-muted">
            Nincs még fiókja? <a class="text-decoration-none" href="/signup">Regisztráció</a>
        </div>
    </form>
</div>
<%- include('../includes/end.ejs') %>